@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-process-normal: #10b981;
    --color-process-warning: #f59e0b;
    --color-process-alarm: #ef4444;
    --color-tank-liquid: #3b82f6;
    --color-tank-empty: #374151;
    --color-tank-border: #6b7280;
    --color-scada-dark: #111827;
    --color-scada-card: #1f2937;
    --color-scada-text: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--color-scada-dark);
    color: var(--color-scada-text);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}
